In [1]:
import gspread
import numpy as np
import pandas as pd
import json

In [2]:
gc = gspread.service_account(filename="service_account.json")

sub_20 = gc.open("20220402-Flamengo-SUB20")
elenco = gc.open("Audax Rio - SUB - Elenco")

In [3]:
cadastro = elenco.worksheet("Cadastro")
antropometria = elenco.worksheet("Antropometria")

In [4]:
antropometria_df = pd.DataFrame(antropometria.get_all_values())
antropometria_df.columns = antropometria_df.iloc[0]
antropometria_df = antropometria_df.drop([0])
antropometria_df.index = range(len(antropometria_df.index))
antropometria_df.head()

,Nome,Identificação,Medida,Valor,Data Atualização
0,Andrey-Andrey Sousa Lemos,#VALUE!,Altura,1.83,20/03/2022 00:00:00
1,Cauã-Cauã de Lucas Souza Lemos,#VALUE!,Altura,1.86,20/03/2022 00:00:00
2,Barroi-Cleiverton Barbosa dos Santos,#VALUE!,Altura,1.85,20/03/2022 00:00:00
3,Dilsinho-Edilson Barbosa Filho,#VALUE!,Altura,1.85,20/03/2022 00:00:00
4,Dudu-Eduardo Magalhães dos Santos,#VALUE!,Altura,1.73,20/03/2022 00:00:00

In [5]:
cadastro_df = pd.DataFrame(cadastro.get_all_values())
cadastro_df = cadastro_df.drop(range(8))
cadastro_df.index = range(len(cadastro_df.index))
cadastro_df.columns = cadastro_df.iloc[0]
cadastro_df = cadastro_df.drop([0])
cadastro_df = cadastro_df.drop(columns=[''])
cadastro_df.index = range(len(cadastro_df.index))
cadastro_df.head()

,Nome,Apelido,CPF,Posição,Data Nascimento,Identificação
0,Andrey Sousa Lemos,Andrey,139.901.867-10,Volante,16/05/2004,#VALUE!
1,Cauã de Lucas Souza Lemos,Cauã,200.809.627-00,Goleiro,09/10/2003,#VALUE!
2,Cleiverton Barbosa dos Santos,Barroi,170.901.227-78,Lateral Direito,01/07/2002,#VALUE!
3,Douglas Alves de Oliveira,Guinho,,Volante,02/04/2003,#VALUE!
4,Douglas Igor Freitas dos Santos,Índio,,Zagueiro,,#VALUE!

In [6]:
cadastro_df.to_csv("cadastro_df.csv")
antropometria_df.to_csv("antropometria_df.csv")

In [7]:
escalacao = sub_20.worksheet("Escalacao")

escalacao_df = pd.DataFrame(escalacao.get_all_values())
escalacao_df.columns = escalacao_df.iloc[0]
escalacao_df = escalacao_df.drop([0])
escalacao_df.index = range(len(escalacao_df.index))
escalacao_df.head()

,Camisa,GPS,Nome,Identificação,Posição,Titular
0,1,1,Cauã-Cauã de Lucas Souza Lemos,#VALUE!,Goleiro,X
1,2,2,Raphinha-Raphael de Sousa Monteiro Carlos,#VALUE!,Lateral Direito,X
2,3,3,Yuri-Yuri de Oliveira Borges,#VALUE!,Zagueiro,X
3,4,4,Rafa-Rafael Reis de Azevedo,#VALUE!,Zagueiro,X
4,5,5,Felippe-Felipe Silva Borba dos Anjos,#VALUE!,Volante,X

In [8]:
escalacao_df["Titular"] = np.where(escalacao_df["Titular"] == "X", True, False)

In [9]:
escalacao_df = escalacao_df.drop(columns=["Nome"])
escalacao_df.to_csv("escalacao_df.csv")
escalacao_df.head()

0 Camisa GPS Identificação          Posição  Titular
0      1   1       #VALUE!          Goleiro     True
1      2   2       #VALUE!  Lateral Direito     True
2      3   3       #VALUE!         Zagueiro     True
3      4   4       #VALUE!         Zagueiro     True
4      5   5       #VALUE!          Volante     True

In [10]:
scout = sub_20.worksheet("Scout")

cronologia = {"cronologia" : {}}

begin = scout.find("CRONOLOGIA").row + 1 
end = scout.find("ESTATÍSTICA").row - 1

for i in range(len(scout.get_all_values()[begin:end])):
    cronologia["cronologia"][scout.get_all_values()[begin:end][i][0]] = { 
            "inicio": scout.get_all_values()[begin:end][i][1], 
             "fim": scout.get_all_values()[begin:end][i][2]
        } 

cronologia

{'cronologia': {'aquecimento': {'inicio': '8:20:00 AM', 'fim': '8:40:00 AM'},
  '1º tempo': {'inicio': '9:00:00 AM', 'fim': '9:48:00 AM'},
  'intervalo': {'inicio': '9:48:00 AM', 'fim': '10:03:00 AM'},
  '2º tempo': {'inicio': '10:04:00 AM', 'fim': '10:50:00 AM'}}}

In [11]:
scout.get_all_values()[10:14]

[['aquecimento', '8:20:00 AM', '8:40:00 AM', '', '', '', ''],
 ['1º tempo', '9:00:00 AM', '9:48:00 AM', '', '', '', ''],
 ['intervalo', '9:48:00 AM', '10:03:00 AM', '', '', '', ''],
 ['2º tempo', '10:04:00 AM', '10:50:00 AM', '', '', '', '']]

In [12]:
estatistica = {"estatistica" : [] }

begin = scout.find("ESTATÍSTICA").row + 1 
end = scout.find("GOLS").row - 1

for i in range(len(scout.get_all_values()[begin:end])):
    estatistica["estatistica"].append({
        "metrica": scout.get_all_values()[begin:end][i][0],
        "fase": scout.get_all_values()[begin:end][i][1],
        "casa": scout.get_all_values()[begin:end][i][2],
        "adversario": scout.get_all_values()[begin:end][i][3]
    }) 
        

estatistica

{'estatistica': [{'metrica': 'Finalização',
   'fase': '1º tempo',
   'casa': '3',
   'adversario': '3'},
  {'metrica': 'Finalização',
   'fase': '2º tempo',
   'casa': '3',
   'adversario': '0'},
  {'metrica': 'Falta', 'fase': '1º tempo', 'casa': '3', 'adversario': '2'},
  {'metrica': 'Falta', 'fase': '2º tempo', 'casa': '1', 'adversario': '3'},
  {'metrica': 'Escanteio', 'fase': '1º tempo', 'casa': '2', 'adversario': '1'},
  {'metrica': 'Escanteio', 'fase': '2º tempo', 'casa': '1', 'adversario': '0'},
  {'metrica': 'Impedimento',
   'fase': '1º tempo',
   'casa': '1',
   'adversario': '0'},
  {'metrica': 'Impedimento',
   'fase': '2º tempo',
   'casa': '2',
   'adversario': '0'}]}

In [15]:
gols = {"gols" : [] }

begin = scout.find("GOLS").row + 1 
end = scout.find("LESÃO").row - 1

for i in range(len(scout.get_all_values()[begin:end])):
    gols["gols"].append({
        "horario": scout.get_all_values()[begin:end][i][0],
        "fase": scout.get_all_values()[begin:end][i][1],
        "tipo": scout.get_all_values()[begin:end][i][2],
        "camisa": scout.get_all_values()[begin:end][i][3],
        "time": scout.get_all_values()[begin:end][i][4]
    }) 
        

gols

{'gols': [{'horario': '9:28:00 AM',
   'fase': '1° tempo',
   'tipo': 'NR',
   'camisa': '5',
   'time': 'Adversário'},
  {'horario': '9:34:00 AM',
   'fase': '1° tempo',
   'tipo': 'NR',
   'camisa': '9',
   'time': 'Adversário'},
  {'horario': '10:17:00 AM',
   'fase': '2° tempo',
   'tipo': 'NR',
   'camisa': '10',
   'time': 'Adversário'},
  {'horario': '10:29:00 AM',
   'fase': '2° tempo',
   'tipo': 'NR',
   'camisa': '25',
   'time': 'Adversário'},
  {'horario': '10:50:00 AM',
   'fase': '2° tempo',
   'tipo': 'NR',
   'camisa': '21',
   'time': 'Adversário'},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''}]}

In [16]:
lesao = {"lesao" : [] }

begin = scout.find("LESÃO").row + 1 
end = scout.find("CARTÕES").row - 1

for i in range(len(scout.get_all_values()[begin:end])):
    lesao["lesao"].append({
        "horario": scout.get_all_values()[begin:end][i][0],
        "fase": scout.get_all_values()[begin:end][i][1],
        "tipo": scout.get_all_values()[begin:end][i][2],
        "camisa": scout.get_all_values()[begin:end][i][3],
        "time": scout.get_all_values()[begin:end][i][4]
    }) 
        

lesao

{'lesao': [{'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''}]}

In [17]:
cartoes = {"cartoes" : [] }

begin = scout.find("CARTÕES").row + 1 
end = scout.find("SUBSTITUIÇÃO").row - 1

for i in range(len(scout.get_all_values()[begin:end])):
    cartoes["cartoes"].append({
        "horario": scout.get_all_values()[begin:end][i][0],
        "fase": scout.get_all_values()[begin:end][i][1],
        "tipo": scout.get_all_values()[begin:end][i][2],
        "camisa": scout.get_all_values()[begin:end][i][3],
        "time": scout.get_all_values()[begin:end][i][4]
    }) 
        

cartoes

{'cartoes': [{'horario': '9:32:00 AM',
   'fase': '1° tempo',
   'tipo': 'amarelo',
   'camisa': '3',
   'time': 'Casa'},
  {'horario': '9:38:00 AM',
   'fase': '1° tempo',
   'tipo': 'amarelo',
   'camisa': '11',
   'time': 'Adversário'},
  {'horario': '9:39:00 AM',
   'fase': '1° tempo',
   'tipo': 'amarelo',
   'camisa': '6',
   'time': 'Casa'},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''},
  {'horario': '', 'fase': '', 'tipo': '', 'camisa': '', 'time': ''}]}

In [22]:
substituicao = {"substituicao" : [] }

begin = scout.find("SUBSTITUIÇÃO").row + 1
end = scout.row_count

for i in range(len(scout.get_all_values()[begin:end])):
    substituicao["substituicao"].append({
        "horario": scout.get_all_values()[begin:end][i][0],
        "fase": scout.get_all_values()[begin:end][i][1],
        "entrou": scout.get_all_values()[begin:end][i][2],
        "saiu": scout.get_all_values()[begin:end][i][3]
    })


substituicao

{'substituicao': [{'horario': '10:26:00 AM',
   'fase': '2° tempo',
   'entrou': '15',
   'saiu': '5'},
  {'horario': '10:26:00 AM', 'fase': '2° tempo', 'entrou': '14', 'saiu': '11'},
  {'horario': '10:33:00 AM', 'fase': '2° tempo', 'entrou': '18', 'saiu': '7'},
  {'horario': '10:33:00 AM', 'fase': '2° tempo', 'entrou': '17', 'saiu': '10'},
  {'horario': '10:42:00 AM', 'fase': '2° tempo', 'entrou': '21', 'saiu': '9'},
  {'horario': '10:42:00 AM', 'fase': '2° tempo', 'entrou': '20', 'saiu': '8'}]}

In [23]:
evento = {}
begin = 1
end = scout.find("CRONOLOGIA").row - 1 

for i in range(len(scout.get_all_values()[begin:end])):
    evento[scout.get_all_values()[begin:end][i][0]] = scout.get_all_values()[begin:end][i][1]

evento

{'EVENTO': 'Campeonato',
 'Nome: ': 'CARIOCA SUB-20',
 'RODADA:': '2',
 'DATA:': '02/04/2022',
 'HORÁRIO:': '09:00',
 'LOCAL:': 'Gávea',
 'ADVERSÁRIO:': 'Flamengo'}

In [24]:
result = {**evento, **cronologia, **estatistica, **gols, **lesao, **cartoes, **substituicao}

In [25]:
import json

with open('data.json', 'w') as f:
    json.dump(result, f)